.nav-container {
  color: aliceblue;
  background-color: #0c0b0b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  height: 10vh;
}
.nav-left-part,
.nav-right-part {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: 50%;
}
.nav-right-part {
  justify-content: flex-end;
}

.nav-left-part {
  justify-content: flex-start;
}
.nav-left-part p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px;
}
