.login-content{
    background-color: #fe7474;
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.form-container{
    background-color: #f63434;
    height: 50%;
    width: 30%;
    display: flex;

    // justify-content: center;
    // align-items: center;
}
.form-item-container{
     display: flex;
     flex-direction: column;
     width: 100%;
     justify-content: space-evenly;
     padding: 30px;
    
}
.form-item{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}
.form-item-input{
display: flex;
justify-content: space-between;
align-items: center;
}
.form-item-error{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}